<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroganov Drive</title>
    <link rel="stylesheet" href="/mainPage.css">
    <link rel="stylesheet" href="/mainPageAuth.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main class="mainForAuth">
      <aside class="explorer">
        <button class="createFolderButton" <%=locals.currentFolder == folders[0].id ? '' : 'disabled' %>><span>+</span> Create</button>
            <a href="/folder/<%=folders[0].id%>" class="primaryFoldersHref <%=locals.currentFolder == folders[0].id ? 'selectedPrimaryFolder' : '' %>" >
              <div class="primaryFolders">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
                  </svg>
                  <p><%=folders[0].name%></p>
              </div>
            </a>
            <a href="/folder/<%=folders[1].id%>" class="primaryFoldersHref <%=locals.currentFolder == folders[1].id ? 'selectedPrimaryFolder' : '' %>" >
              <div class="primaryFolders">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                </svg>
                <p><%=folders[1].name%></p>
              </div>
            </a>
      </aside>

      <%- include('./partials/subfolders') %>

      <!-- <form action="/upload" method="POST" enctype="multipart/form-data" class="uploadForm">
          <input type="file" name="file">
          <button type="submit" class="testim">Submit</button>
      </form> -->
      <%- include('./partials/dialogForCreate.ejs') %>
    </main>
</body>
<script>
  const dialogCreate = document.querySelector('.dialogForCreateFolder');
  const createbuttonTrigger = document.querySelector('.createFolderButton');
  const cancelButtonForCreate = document.querySelector('.cancelButtonForCreate');

  createbuttonTrigger.addEventListener('click', () => {
    dialogCreate.showModal()
  });


  cancelButtonForCreate.addEventListener('click', () => {
    dialogCreate.close()
  });
</script>
</html>